<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="fragments/general.html :: headerfiles">
    </th:block>
</head>
<body>
<div th:replace="fragments/general.html :: navigator"></div>
    전체 장부
<table class="table" th:each="accountDay: ${accountBook}">
    <thead>
    <h3 th:text="${accountDay.getDate()}"></h3>
    <tr>
        <th scope="col">종류</th>
        <th scope="col">금액</th>
        <th scope="col">내용</th>
        <th scope="col">메모</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="breakdown: ${accountDay.getBreakdowns()}">
        <td th:if="${breakdown.getType().toString == 'SPENDING'}" th:class="text-primary">지출</td>
        <td th:unless="${breakdown.getType().toString == 'SPENDING'}" th:class="text-danger">수익</td>
        <td th:text="${breakdown.getAmount().intValue()}"></td>
        <td th:text="${breakdown.getContent()}"></td>
        <td th:text="${breakdown.getMemo()}"></td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>