<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:include="fragments/general.html :: headerfiles">
    </th:block>
</head>
<body>
<div style="padding: 100px">
<div th:replace="fragments/general.html :: navigator"></div>
    전체 장부
<table class="table" th:each="accountDay: ${accountBook}" style="margin-bottom: 100px">
    <thead>
    <h3 th:text="${accountDay.getDate()}"></h3>
    <tr>
        <th scope="col" width="5%">종류</th>
        <th scope="col" width="5%">금액</th>
        <th scope="col" width="10%">내용</th>
        <th scope="col" width="10%">메모</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="breakdown: ${accountDay.getBreakdowns()}">
        <td th:if="${breakdown.getType().toString == 'SPENDING'}" th:class="text-primary">지출</td>
        <td th:if="${breakdown.getType().toString == 'INCOME'}" th:class="text-danger">수익</td>
        <td> <span th:if="${breakdown.getType().toString() == 'INCOME'}" th:text="${breakdown.getAmount().intValue()}"> </span>
             <span th:unless="${breakdown.getType().toString() == 'INCOME'}" th:text="-${breakdown.getAmount().intValue()}"> </span></td>
        <td th:text="${breakdown.getContent()}"></td>
        <td th:text="${breakdown.getMemo()}"></td>
    </tr>
    </tbody>
    <h5>잔액 : <span th:text="${accountDay.getBalance()}"></span>원</span></h5>
</table>
</div>
<div th:replace="fragments/general.html :: footer"></div>
</body>
</html>